.header__logo img {
    width: auto !important;
    height: 48px !important;
}

.s-pageheader--home {
    padding-top: 175px;
}

.masonry {    
    columns: auto 1;
    column-gap: 0;
}

.masonry__brick {
    break-inside: avoid;
    page-break-inside: avoid;
    will-change: transform;
    display: inline-block;        
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;     
    width: 100% !important;   
}


@media only screen and (min-width: 700px) {
    .masonry {
        -moz-columns: auto 2;
        -webkit-columns: auto 2;
        columns: auto 2;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-columns: auto 3;
        -webkit-columns: auto 3;
        columns: auto 3;
    }
}