---
layout: default
---
{% include base_path %}

<section class="s-content" id="posts">        
    
    <div class="row masonry-wrap">
        <div class="masonry">
            
            <div class="grid-sizer"></div>
            
            {% for post in paginator.posts offset:3 %}
            <article class="masonry__brick entry format-standard" data-aos="fade-up">
                
                <div class="entry__thumb">
                    <a href="{{ post.url }}" class="entry__thumb-link">
                        <img src="{{ base_path }}/images/thumbs/{{ post.image }}" alt="{{ post.title }}">
                    </a>
                </div>
                
                <div class="entry__text">
                    <div class="entry__header">
                        
                        <div class="entry__date">
                            <a href="{{ post.url }}">
                                {% capture post_month %}{{ post.date|date:"%-m" }}{% endcapture %}
                                {{ post.date | date: "%d de" }}
                                {% include month.md m=post_month %}
                                {{ post.date | date: " de %Y" }}
                            </a>
                        </div>
                        <h1 class="entry__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                        
                    </div>
                    <div class="entry__excerpt">
                        <p>
                            {{ post.description }}
                        </p>
                    </div>
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            {% for cat in post.categories %}
                            <a href="/categoria/{{ cat | slugify }}/">{{ cat }}</a> 
                            {% endfor %}                            
                        </span>
                    </div>
                </div>
                
            </article> <!-- end article -->
            {% endfor %}                       
            
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->
    
    {% if paginator.total_pages %}
    <div class="row">
        <div class="col-full">
            <nav class="pgn">
                <ul>
                    <li><a class="pgn__prev" href="{% if paginator.previous_page %}{{ paginator.previous_page_path }}{% else %}#{% endif %}">Prev</a></li>
                    {% for page in (1..paginator.total_pages) %}
                    {% if page == 1 %}
                    <li><a class="pgn__num {% if page == paginator.page %}current{% endif %}" href="/#posts">{{ page }}</a></li>
                    {% else %}
                    <li><a class="pgn__num {% if page == paginator.page %}current{% endif %}" href="{{ site.paginate_path | relative_url | replace: ':num', page }}#posts">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}                    
                    <li><a class="pgn__next" href="{% if paginator.next_page %}{{ paginator.next_page_path }}{% else %}#{% endif %}">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
    
</section> <!-- s-content -->
